## Import

In [1]:
import numpy as np
import pandas as pd
from collections import defaultdict
from pathlib import Path
from IPython.core.display import display, HTML
import random
from timeit import Timer
from itertools import groupby

#### Question 0

#### code snippet

In [2]:
#sample_list = [(1, 3, 5), (0, 1, 2), (1, 9, 8)]
#op = []
#for m in range(len(sample_list)):
 #   li = [sample_list[m]]
  #      for n in range(len(sample_list)):
   #         if (sample_list[m][0] == sample_list[n][0] and
    #                sample_list[m][3] != sample_list[n][3]):
     #           li.append(sample_list[n])
      #  op.append(sorted(li, key=lambda dd: dd[3], reverse=True)[0])
#res = list(set(op))

#### part a
######  We try to find out all tuples in a list with the same first element but different third elements. Then we choose the tuple with the third larger element and put with unselected tuples in the original list in to a new list. The function returns a new list of tuples.

#### part b
##### It uses nested loops for finishing the comparing and selecting tuples. Lots of '[]' with different indexes makes the function not easy to read. Meanwhile, it creates two list as middle step to store and compare data, therefore the exeution time and RAM usage might be high. I think I can try to improve this snippet by using dictionaries instead of list, using list comprehension instead of for loops, and creating as few as intermediate variables for storing and comparing.

## Question 1

In [3]:
# define a function to generate random tuples with size k
def randomtuple(n,k,a,b):
    low = int(a)
    high = int(b)
    k = int(k)
# we want to make sure that the tuple is in a ascending order, otherwise print error message instead.
    if low<= high:
        l=[(list(np.random.randint(low,high,size = k))) for i in range(n)]
        return l
    else:
        print("error message")

#### Question1 Test

In [4]:
# test the output category 
type(randomtuple(5, 3, -1, 10))

x = type(randomtuple(5, 3, -1, 10))
assert x == type([1]),"correct"
print(type(randomtuple(5, 3, -1, 10)))
print(randomtuple(5, 3, -1, 10))

<class 'list'>
[[5, 2, 8], [9, 8, 1], [8, 4, 2], [9, 0, 6], [9, 0, 7]]

## Question 2

#### part a

In [5]:
sample_list = [(1, 3, 5),(0,1,2),(1,9,8)]

def function1(samplelist,index2):
    samplelist = list()
    index = 0
    op = [] 
    for m in range(len(sample_list)):
        li = [sample_list[m]]
        for n in range(len(sample_list)):
            if (sample_list[m][index] == sample_list[n][index] and
                sample_list[m][index2] != sample_list[n][index2]):
                li.append(sample_list[n])
        op.append(sorted(li, key=lambda dd: dd[index2], reverse=True)[0])
    res = list(set(op))
    return res
function1(sample_list,2)

[(0, 1, 2), (1, 9, 8)]

#### part b

In [6]:

def improvedfunction(samplelist,index):
    sample_list.sort()
    index1 = index - len(samplelist[0])
    index2 = 0
    a = [max(l, key=lambda x: x[index1]) for _, l in groupby(sample_list, key=lambda x: x[index2])]
    return a
improvedfunction(sample_list,2)

[(0, 1, 2), (1, 9, 8)]

#### part c

In [7]:
sample_list = [(1, 3, 5),(0,1,2),(1,9,8)]

def dictmethod(d,index):
    index = len(sample_list[1])-1
    dictionary1 = defaultdict(list)
    for i in sample_list:
        dictionary1[i[0]].append(i)
        res = [max(val, key=lambda x: x[index]) for val in dictionary1.values()]
    return res

dictmethod(sample_list,2)

[(1, 9, 8), (0, 1, 2)]

#### part d

In [33]:
## create the range for question 1 function
low = random.sample(range(10,35),3)
high = random.sample(range(50,100),3)

# generate tuples with random numbers
sample1 = randomtuple(10,3,low[0],high[0])
sample2 = randomtuple(10,3,low[1],high[1])
sample3 = randomtuple(10,3,low[2],high[2])

sample = [sample1,sample2,sample3]


## create a loop for running three functions and store the execution time
res = defaultdict(list)
n_seq = [1, 1, 1]
res['n'] = n_seq
for f in (function1,improvedfunction,dictmethod):
    for n in n_seq:
        t = Timer("f(a,b)", globals={"f": f, "a": sample[0],"b":2 })
        # find out the median time and store it as the variable for table
        m = np.median([t.timeit(1) for i in range(3)]) 
        res[f.__name__].append(round(m * 1e6, 1))


res2 = defaultdict(list)
n_seq2 = [2, 2, 2]
res2['n'] = n_seq2
for f in (function1,improvedfunction,dictmethod):
    for n in n_seq:
        t = Timer("f(a,b)", globals={"f": f, "a": sample[1],"b":2 })
        m = np.median([t.timeit(1) for i in range(3)]) 
        res2[f.__name__].append(round(m * 1e6, 1))

res3 = defaultdict(list)
n_seq3 = [3, 3, 3]
res3['n'] = n_seq3
for f in (function1,improvedfunction,dictmethod):
    for n in n_seq:
        t = Timer("f(a,b)", globals={"f": f, "a": sample[2],"b":2 })
        m = np.median([t.timeit(1) for i in range(3)]) 
        res3[f.__name__].append(round(m * 1e6, 1))
df1 = pd.DataFrame(res)
df2 = pd.DataFrame(res2)
df3 = pd.DataFrame(res3)
# merge all seperate df into a comprehensive one
newdf = pd.concat([df1,df2,df3])
display(newdf)

   n  function1  improvedfunction  dictmethod
0  1        5.9               3.1         5.0
1  1        5.4               2.9         4.9
2  1        6.5               2.6         4.9
0  2        5.7               5.7         4.3
1  2        5.4               2.4         4.2
2  2        5.1               2.4         4.2
0  3        9.7               2.7         4.4
1  3        5.4               4.8         4.3
2  3        5.2               2.4         4.1

## Question 3

#### part a

In [10]:
# read files
df2011 = pd.read_sas("C:/Users/fengy/Desktop/stats 507/hw2/DEMO2011-2012.XPT")
# add columns to a single dataframe
df2011['year'] = "2011-2012"
# read file and import it as df
df2013 = pd.read_sas("C:/Users/fengy/Desktop/stats 507/hw2/DEMO2013-2014.XPT")
# add columns to a single dataframe
df2013['year'] = "2013-2014"
# read file and import it as df
df2015 = pd.read_sas("C:/Users/fengy/Desktop/stats 507/hw2/DEMO2015-2016.XPT")
# add columns to a single dataframe
df2015['year'] = "2015-2016"
# read file and import it as df
df2017 = pd.read_sas("C:/Users/fengy/Desktop/stats 507/hw2/DEMO2017-2018.XPT")
# add columns to a single dataframe
df2017['year'] = "2017-2018"
# merge seperate dataframes into one
mergedf = pd.concat([df2011, df2013,df2015,df2017])
# select columns from a dataframe
mydf = pd.DataFrame(mergedf[["SEQN","RIDAGEYR","RIDRETH3","DMDEDUC2","DMDMARTL",
                  "RIDSTATR", "SDMVPSU", "SDMVSTRA", "WTMEC2YR", "WTINT2YR","year"]])
# change the column name
mydf = mydf.rename({'SEQN': 'id', 'RIDAGEYR': 'age',
                'RIDRETH3':'race', 'DMDEDUC2':'education',
                 'DMDMARTL':'marital', 'RIDSTATR':'interview way',
                 "SDMVPSU": "variance pseudo",
                 "SDMVSTRA":"variance estimation",
                 "WTMEC2YR":"mec interview weight",
                 "WTINT2YR":"intverview weight",
                 "year":"year"
                }, axis='columns')
# change the column data types
mydf = mydf.astype({"id": int, "age": int,"race":int, 
                    "education":"category",
                    "marital":'category'})
display(mydf.head(10))
# display the dataframe
display(mydf)
# #### part b

,id,age,race,education,marital,interview way,variance pseudo,variance estimation,mec interview weight,intverview weight,year
0,62161,22,3,3.0,5.0,2.0,1.0,91.0,104236.582554,102641.406474,2011-2012
1,62162,3,1,NaN,NaN,2.0,3.0,92.0,16116.354010,15457.736897,2011-2012
2,62163,14,6,NaN,NaN,2.0,3.0,90.0,7869.485117,7397.684828,2011-2012
3,62164,44,3,4.0,1.0,2.0,1.0,94.0,127965.226204,127351.373299,2011-2012
4,62165,14,4,NaN,NaN,2.0,2.0,90.0,13384.042162,12209.744980,2011-2012
5,62166,9,3,NaN,NaN,2.0,1.0,91.0,64068.123183,60593.636684,2011-2012
6,62167,0,6,NaN,NaN,2.0,2.0,92.0,5303.683185,5024.464768,2011-2012
7,62168,6,7,NaN,NaN,2.0,2.0,103.0,6245.043868,5897.024603,2011-2012
8,62169,21,6,3.0,5.0,2.0,1.0,92.0,14783.600953,14391.778470,2011-2012
9,62170,15,7,NaN,NaN,2.0,3.0,91.0,8291.636582,7794.526990,2011-2012

,id,age,race,education,marital,interview way,variance pseudo,variance estimation,mec interview weight,intverview weight,year
0,62161,22,3,3.0,5.0,2.0,1.0,91.0,104236.582554,102641.406474,2011-2012
1,62162,3,1,NaN,NaN,2.0,3.0,92.0,16116.354010,15457.736897,2011-2012
2,62163,14,6,NaN,NaN,2.0,3.0,90.0,7869.485117,7397.684828,2011-2012
3,62164,44,3,4.0,1.0,2.0,1.0,94.0,127965.226204,127351.373299,2011-2012
4,62165,14,4,NaN,NaN,2.0,2.0,90.0,13384.042162,12209.744980,2011-2012
...,...,...,...,...,...,...,...,...,...,...,...
9249,102952,70,6,3.0,1.0,2.0,2.0,138.0,18338.711104,16896.276203,2017-2018
9250,102953,42,1,3.0,4.0,2.0,2.0,137.0,63661.951573,61630.380013,2017-2018
9251,102954,41,4,5.0,5.0,2.0,1.0,144.0,17694.783346,17160.895269,2017-2018
9252,102955,14,4,NaN,NaN,2.0,1.0,136.0,14871.839636,14238.445922,2017-2018
9253,102956,38,3,4.0,3.0,2.0,1.0,142.0,39426.299948,38645.740291,2017-2018

In [11]:
# read dataframe,select required columns, add columns, and build it as a single df
oral2011 = pd.read_sas("C:/Users/fengy/Desktop/stats 507/hw2(1)/OHXDEN2011-2012.XPT")
oral2011 =oral2011.loc[:,'SEQN':'OHX31CTC']
oral2011.drop(['OHDEXSTS', 'OHXIMP'],inplace=True, axis=1)
oral2011["year"] = "2011-2012"


# read dataframe,select required columns, add columns, and build it as a single df
oral2013 = pd.read_sas("C:/Users/fengy/Desktop/stats 507/hw2(1)/OHXDEN2013-2014.XPT")
oral2013 =oral2013.loc[:, 'SEQN':'OHX31CTC']
oral2013.drop(['OHDEXSTS', 'OHXIMP'], inplace=True, axis=1)
oral2013["year"] = "2013-2014"


# read dataframe,select required columns, add columns, and build it as a single df
oral2015 = pd.read_sas("C:/Users/fengy/Desktop/stats 507/hw2(1)/OHXDEN2015-2016.XPT")
oral2015 =oral2015.loc[:, 'SEQN':'OHX31CTC']
oral2015.drop(['OHDEXSTS', 'OHXIMP'], inplace=True, axis=1)
oral2015["year"] = "2015-2016"


# read dataframe,select required columns, add columns, and build it as a single df
oral2017 = pd.read_sas("C:/Users/fengy/Desktop/stats 507/hw2(1)/OHXDEN2011-2012.XPT")
oral2017 =oral2017.loc[:,'SEQN':'OHX31CTC']
oral2017.drop(['OHDEXSTS', 'OHXIMP'], inplace=True, axis=1)
oral2017["year"] = "2017-2018"

# merge each sepearte df into one, change the datatype, and change the column name.
partb = pd.concat([oral2011, oral2013,oral2015,oral2017])
partb = partb.astype({"SEQN": int})
partb = partb.rename({"SEQN": 'id', "OHDDESTS": 'status'},
                   axis='columns')
partb = partb.rename(columns=lambda x: x[3:])
partb = partb.rename({'':'id', 'tus':'status','r':'year'},
                     axis='columns')
display(partb)

E:\anaconda\lib\site-packages\pandas\io\sas\sas_xport.py:475: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[x] = v

,id,status,01TC,02TC,03TC,04TC,05TC,06TC,07TC,08TC,...,23CTC,24CTC,25CTC,26CTC,27CTC,28CTC,29CTC,30CTC,31CTC,year
0,62161,1.0,4.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Z',b'S',2011-2012
1,62162,1.0,4.0,4.0,4.0,1.0,1.0,1.0,1.0,1.0,...,b'D',b'D',b'D',b'D',b'D',b'D',b'D',b'U',b'U',2011-2012
2,62163,1.0,4.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Y',b'S',2011-2012
3,62164,1.0,4.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Z',b'Z',2011-2012
4,62165,1.0,4.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',2011-2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8951,71912,1.0,4.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Z',b'S',2017-2018
8952,71913,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',2017-2018
8953,71914,1.0,4.0,4.0,2.0,1.0,1.0,1.0,2.0,2.0,...,b'Y',b'S',b'S',b'S',b'Y',b'D',b'D',b'S',b'U',2017-2018
8954,71915,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Z',b'Z',2017-2018
8955,71916,1.0,4.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Z',b'U',2017-2018

#### part c

In [12]:

a = mydf['id']
b = partb['id']
# find out the cases shareing the same Id
display(len(set(a).intersection(set(b))))

27543